NET "clock" LOC = "N7" | IOSTANDARD = LVCMOS33;

NET "buttons<0>" LOC = "P8" | IOSTANDARD = LVCMOS33;
NET "buttons<1>" LOC = "P9" | IOSTANDARD = LVCMOS33;

NET "leds<0>" LOC = "N3" | IOSTANDARD = LVCMOS33;
NET "leds<1>" LOC = "P3" | IOSTANDARD = LVCMOS33;
NET "leds<2>" LOC = "N4" | IOSTANDARD = LVCMOS33;
NET "leds<3>" LOC = "P4" | IOSTANDARD = LVCMOS33;

NET "dpot_vcc"  LOC = "K1" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "dpot_gnd"  LOC = "K2" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "dpot_sclk" LOC = "L1" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "dpot_sdi"  LOC = "M1" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "dpot_cs"   LOC = "M2" | IOSTANDARD = LVCMOS33 | PULLUP;
